---
title: Partner Engineering Style Guide
---
.page-content.inset
  .row
    .col-md-12
      .page-title
        %h2
          Simen Johan
  .row
    .col-md-12
      %ul.nav.nav-tabs
        %li
          %a{href: '/interface/item'}
            Overview
        %li
          %a{href: '/interface/item'}
            Artworks
        %li.active
          %a{href: '/interface/form'}
            Edit
  .row
    .capped
      .col-md-12
        %form.form-horizontal{ role: 'form' }
          .row
            .col-md-12
              .unit
                .col-md-3
                  %h5 Details
                .col-md-9
                  .form-group
                    %label.col-sm-2.control-label{for:'inputTitle'}
                      Title
                      %span
                        *
                    .col-sm-10
                      %input{ type: "text", class: "form-control", id: "inputTitle", placeholder: "Title" }
                  .form-group
                    %label.col-sm-2.control-label{for:'inputYear'}
                      Year
                    .col-sm-10
                      %input{ type: "text", class: "form-control", id: "inputYear", placeholder: "Year" }
          .row
            .col-md-12
              .unit.bordered
                .col-md-3
                  %h5 Price
                .col-md-9
                  .form-group
                    %label.col-sm-2.control-label{for:'inputText1'}
                      Price
                    .col-sm-10
                      %input{ type: "text", class: "form-control", id: "inputText1", placeholder: "Price" }
                  .form-group
                    %label.col-sm-2.control-label{for:'inputSelect1'}
                      Currency
                    .col-sm-10
                      %select.form-control
                        %option
                          USD - US Dollar
                        %option
                          Euro
                        %option
                          Yen
                        %option
                          Whatever
                  .form-group.bordered
                    .col-sm-12
                      .radio
                        %label.control-label{for:'optionsRadios1'}
                          %input{ type: "radio", name: "optionsRadios-control", id: "optionsRadios1", value: "option1" }
                            Dispay [Price Range] on Artsy
                      .radio
                        %label.control-label{for:'optionsRadios2'}
                          %input{ type: "radio", name: "optionsRadios-control", id: "optionsRadios2", value: "option2", checked: true}
                            Display 'Contact for Price' on Artsy
                  .alert.alert-info
                    %p Displaying the price on your work increases the likelyhood that inquiries will be high-quality.
          .row
            .col-md-12
              .unit.bordered
                %input.btn.btn-primary-gradient.btn-large.btn-full-width{ type: "submit", name: 'Save changes' }
