---
title: Partner Engineering Style Guide
---
.page-content.inset
  .row
    .col-md-12
      .page-title.bordered
        %h2 Hello there
  .row
    .capped
      .col-md-12
        .unit.padded-row
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .list-group
          %a.list-group-item{ href: "/interface/items" }
            %span.list-group-item-content
              %span.list-group-item-label Index - A basic listing of records
            %span.icon-chevron-right
          %a.list-group-item{ href: "/interface/item" }
            %span.list-group-item-content
              %span.list-group-item-label Item - An individual record
            %span.icon-chevron-right
          %a.list-group-item{ href: "/interface/form" }
            %span.list-group-item-content
              %span.list-group-item-label Form - A typical form
            %span.icon-chevron-right
          %a.list-group-item{ href: "/interface/title_link" }
            %span.list-group-item-content
              %span.list-group-item-label Title link - An example of the pseudo-breadcrumb title link
            %span.icon-chevron-right
