---
title: Partner Engineering Style Guide
---
.page-content.inset
  .row
    .col-md-12
      .page-title.bordered
        %h2 Artists
  .row
    .capped
      - 1.times do |i|
        .col-md-12
          %div
            %a{ href: "/interface/item", class: 'btn btn-primary btn-add btn-full-width' }
              Add an artist
  .row
    .capped
      .results-sorts.clearfix
        .col-md-12
          .pull-left
            Viewing 1-20 of 24 artists
          .pull-right.hidden-xs
            Sorted by: A-Z / Recently Updated

  .row
    .capped
      .col-md-12
        .list-group
          - 20.times do |i|
            %a.list-group-item{ href: "/interface/item" }
              %span.list-group-item-content
                %span.list-group-item-label= ["Leonardo Davinci", "Simen Johan", "Jasper Johns"].sample
                %span.list-group-item-info= ["1404 - 1457", "1939 - 1987"].sample
              %span.icon-chevron-right

  .row
    .capped
      .col-md-12
        .list-pager
          %a.list-pager-prev{ href: "/interface/item" }
            %span.icon-chevron-left
            %span Previous
          .list-pager-pages
            %a.list-pager-page-link{ href: "/interface/item" } 1
            %a.list-pager-page-link.is-active{ href: "/interface/item" } 2
            %a.list-pager-page-link{ href: "/interface/item" } 3
            %a.list-pager-page-link{ href: "/interface/item" } 4
            %a.list-pager-page-link{ href: "/interface/item" } 5
            %a.list-pager-page-link{ href: "/interface/item" } 6
          .list-pager-pages
            %a.list-pager-page-link{ href: "/interface/item" } 14
          %a.list-pager-next{ href: "/interface/item" }
            %span Next
            %span.icon-chevron-right
