#footer-wrap{
	#footer {
		min-width:768px;
		max-width:1024px;
		margin:0 auto;
	}
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding:20px 0;
  border-top: 1px solid #ccc;
	background-color: #f3f3f3;
	color:#777;
	font-size: 18px;
	line-height: 24px;
  font-family: $serif;
  a {
  	text-decoration:underline;
  	&:hover {
  		text-decoration:none;
  	}
  }
	.liaison-wrap {
		float:left;
		width: 540px;
		text-align:left;
		padding: 0 0 0 20px;
		.liaison-icon {
			float:left;
			width:85px;
		}
		.liaison-message {
			float:left;
			width:400px;
			padding: 20px 0 0 20px;
      font-family: $serif;
		}
	}
	.subscription-terms-link {
		float:right;
		text-align: right;
		width: 160px;
    font-family: $serif;
		padding: 42px 40px 0 0;
	}
}//#footer-wrap