#header-wrap {
	background: #000;
	color: #fff;
	font-size: 12px;
	width: 100%;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	padding:0 0 0 0;
	font-weight:normal;
	position: fixed;
	z-index: 999;
  #logo-link {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: 0 17px 0 0;
    border-bottom: 1px solid #000;
    overflow:hidden;
    padding: 10px;
    a {
      width: 31px;
      height: 31px;
      float: left;
    }
  }
  #logo-link a {
    background:#fff url('/assets/kinetic/artsy_mark_purple.png') top left no-repeat;
    text-indent:-999px;
  }
	#session-wrap {
		margin: 0 10px 0 0;
	}
	#nav-wrap {
		display:none;
	}
	.navigation-link, .navigation-link a,
	.primary-link, .primary-link a {
		float:left;
	}

	#session-wrap, .sessions-link, .sessions-link a,
	#session-wrap .primary-link, #session-wrap .primary-link a {
		float:right;
	}

	.navigation-link,
	.sessions-link {
		font-size: 12px;
		line-height:12px;
		font-weight:300;
		text-transform:uppercase;
		font-weight:normal;
		a, a:visited {
			font-size: 12px;
			line-height:12px;
			padding:20px 17px 19px 17px;
			margin:0;
			color:#aaa;
			text-decoration:none;
			font-weight:normal;

			-webkit-transition-property: border,color,background-color;
		    -moz-transition-property: border,color,background-color;
		    -ms-transition-property: border,color,background-color;
		    -o-transition-property: border,color,background-color;
		    transition-property: border,color,background-color;

		    -webkit-transition-duration: 0.15s;
		    -moz-transition-duration: 0.15s;
		    -ms-transition-duration: 0.15s;
		    -o-transition-duration: 0.15s;
		    transition-duration: 0.15s;

		}
		a:hover {
			color:#fff;
		}
	}//.navigation-link,.sessions-link

	.sessions-link {
		ul.pull-down {display:none;}
	}
	.sessions-link.active {
		ul.pull-down {
			display:block;
			position:absolute;
			right: 0px;
			top: 40px;
			width: 180px;
			background-color: black;
			text-align: left;
			padding: 0 10px 5px 10px;
			li {
				display: block;
				text-align: left;
			  padding: 5px 0;
				border-bottom:1px solid #444;
				a {
					display:block;
			    text-align: left;
			    float: none;
			    padding: 5px;
				}
			}
			li:last-child {
				border:none;
			}
		}
	}

	.primary-link {
		font-size: 12px;
		line-height:12px;
		font-weight:300;
		text-transform:uppercase;
		font-weight:normal;
		a, a:visited {
			font-size: 12px;
			line-height:12px;
			padding:8px 8px 6px 8px;
			margin:10px 0 0 0;
			color:#aaa;
			text-decoration:none;
			font-weight:normal;
			border:2px solid #aaa;
			-webkit-transition-property: border,color,background-color;
		    -moz-transition-property: border,color,background-color;
		    -ms-transition-property: border,color,background-color;
		    -o-transition-property: border,color,background-color;
		    transition-property: border,color,background-color;

		    -webkit-transition-duration: 0.15s;
		    -moz-transition-duration: 0.15s;
		    -ms-transition-duration: 0.15s;
		    -o-transition-duration: 0.15s;
		    transition-duration: 0.15s;

		}
		a:hover {
			color:#fff;
			border:2px solid #fff;
		}
	}
	#session-wrap .primary-link {
		margin:0 0 0 10px;
	}

}//#header-wrap

@media only screen and (max-width: 767px) {
  #header-wrap {
  	#nav-wrap {
  	  	padding:5px 10px;
  	  	border-top:1px solid #222;
  	  	border-bottom:1px solid #ccc;
  	  	clear:both;
  	  	float:none;
  	  	background-color:#eee;
  	  	font-weight:300;
  	  		.navigation-link {
  	  			margin:0 0 0 1px;
  	  			a {
  	  				display:block;
  	  				padding:5px 10px;
  	  				color:#666;
  	  				font-weight:300;
  	  				span {

  	  				}
  	  			}
  	  			a:hover {
  	  				text-decoration:none;
  	  				color:#000;
  	  			}
  	  		}//.navigation-link
  	  }
	}

}