#interstitials-wrap {
  padding: 120px 20px;
  width:720px;
  margin:0 auto;
  #sign_in_prompt {
  	text-align:center;
  }
  h2 {
    font-size:21px;
    line-height: 32px;
    font-family:$serif;
    text-align:center;
    color:black;
    font-weight:normal;
  }
  #partner_selections_form {
    margin: 0 auto;
    max-width:440px;
  }
}//#contents-wrap