#flash-notice {
	width: 100%;
	margin:20px 0;
	background-color: #DBFEE5;
	z-index: 1001; text-align: center; filter: alpha(opacity=95); -moz-opacity: 0.95; -khtml-opacity: 0.95; opacity: 0.95;
}
#flash-notice p {
  font-family:$serif;
  text-align:left; margin:0;
  padding: 13px 10px 10px 10px; color: #000; font-size: 14px; line-height: 14px; font-weight: normal;
}

