---
title: Partner Engineering Style Guide
---
.page-title.bordered
  %h2 Colors
.row.double-margin-bottom
  - ['$gray-lightest<br>#efefef',
     '$gray-lighter<br>#e5e5e5',
     '$gray-light<br>#dbdbdb',
     '$gray<br>#cccccc',
     '$gray-dark<br>#999999',
     '$gray-darker<br>#666666',
     '$gray-darkest<br>#333333',
     '&nbsp;<br>&nbsp;',
     '$purple-light<br>#b179d4',
     '$purple<br>#6a0bc1',
     '$red-light<br>#f4acb2',
     '$red<br>#cc3333',
     '$yellow-light<br>#f9f8d8',
     '$yellow<br>#ccc8a2',
     '$green-light<br>#b0d766',
     '$green<br>#4f8200',
     '$white<br>#fff',
     '$black<br>#000'].each do |color_string|
    .col-md-6.color-sample
      %h4{ style: "background-color:" + color_string.split('<br>')[1] + ";" }= color_string

.page-title.bordered
  %h2 Calculated Colors
.row
  - ['$notice-color:$yellow-light:#f9f8d8', '$base-border-color:$gray:#cccccc'].each do |color_string|
    .col-md-6.color-sample.color-sample-calculated
      %h4{ style: "background-color:" + color_string.split(':')[2] + ";" }= color_string.split(':')[0] + ' = ' + color_string.split(':')[1]
