---
title: Partner Engineering Style Guide - Overview
---
.page-title
  %h2 Overview

%p Overview is an optional Watt CSS extension that provides a generic layout for displaying grouped data. It builds on Bootstrap's grid items. Overview is not included in <code>watt/base.scss</code>. To use Overview you must import <code>watt/overview</code> directly in your application's scss files along with <code>watt/base</code>.

.double-padding-top
  %article.sg-component
    %h4 Required
    %pre
      :preserve
        // in your application's local.scss or equivalent file.
        @import 'watt/base';
        @import 'watt/overview';

%article.sg-component
  %h4 Example
  .sg-component-rendered
    .watt-overview
      .overview-section
        .overview-section-title
          Details
        .overview-section-content
          .overview-item
            .overview-item-title
              Id
            .overview-item-value
              1234
          .overview-item
            .overview-item-title
              Name
            .overview-item-value
              My Object
      .overview-section
        .overview-section-title
          Timing
        .overview-section-content
          .overview-item
            .overview-item-title
              Created At
            .overview-item-value
              Some time ago
          .overview-item
            .overview-item-title
              Updated
            .overview-item-value
              Recently
          .overview-item
            .overview-item-title
              Deleted
            .overview-item-value
              In tha future
      .overview-section
        .overview-section-title
          Related
        .overview-section-content
          .overview-item
            .overview-item-title
              Other Objets
            .overview-item-value
              D'Arts
          .overview-item
            .overview-item-title
              Also
            .overview-item-value
              %p
                %a Tangerines

  %pre
    :preserve
      .watt-overview
        .overview-section
          .overview-section-title
            Details
          .overview-section-content
            .overview-item
              .overview-item-title
                Id
              .overview-item-value
                1234
            .overview-item
              .overview-item-title
                Name
              .overview-item-value
                My Object
        .overview-section
          .overview-section-title
            Timing
          .overview-section-content
            .overview-item
              .overview-item-title
                Created At
              .overview-item-value
                Some time ago
            .overview-item
              .overview-item-title
                Updated
