---
title: Partner Engineering Style Guide - Panels
---
.page-title
  %h2 Panels

%article.sg-component
  %h4 Panel
  .sg-component-rendered
    .panel
      %h4 Heading
      %p
        Paragraph text - Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      %p
        Paragraph text - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        %a{ href: "#" } et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
  %pre
    :preserve
      .panel
        %h4 Heading
        %p
          Paragraph text - Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        %p
          Lorem ipsum dolor sit amet,
          %a{ href: "#" } et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco.

%article.sg-component
  %h4 Panel Constrained
  .sg-component-rendered
    .panel.is-constrained
      %p
        Paragraph text - Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      %p
        Lorem ipsum dolor sit amet,
        %a{ href: "#" } et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
  %pre
    :preserve
      .panel.is-constrained
        %p
          Paragraph text - Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        %p
          Lorem ipsum dolor sit amet,
          %a{ href: "#" } et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco.

%article.sg-component
  %h4 Panel Direction
  .sg-component-rendered
    .panel.is-direction
      %p Direction... like instructions
      %ul
        %li Upload the press release and other documents
        %li Add a description for this show
        %li Add artworks to this show
        %li Add install shots (these can be added later)
        %li Select a cover for this show
  %pre
    :preserve
      .panel.is-direction
        %p Direction... like instructions
        %ul
          %li Upload the press release and other documents
          %li Add a description for this show
          %li Add artworks to this show
          %li Add install shots (these can be added later)
          %li Select a cover for this show

%article.sg-component
  %h4 Panel Notice
  .sg-component-rendered
    .panel.is-notice
      %h4 Complete these 5 Steps to upload a complete show.
      %ol
        %li Upload the press release and other documents
        %li Add a description for this show
        %li Add artworks to this show
        %li Add install shots (these can be added later)
        %li Select a cover for this show
  %pre
    :preserve
      .panel.is-notice
        %h4 Complete these 5 Steps to upload a complete show.
        %ol
          %li Upload the press release and other documents
          %li Add a description for this show
          %li Add artworks to this show
          %li Add install shots (these can be added later)
          %li Select a cover for this show

%article.sg-component
  %h4 Panel Notice Centered
  .sg-component-rendered
    .panel.is-notice.text-center
      %p The featured show on your profile is out of date.
      %p
        %a.btn.btn-large.btn-secondary-add{ href: "#" } Update Profile Feature
      %p <em>You can always update this under <a href="#">'Shows & Fairs'</a></em>.
  %pre
    :preserve
      .panel.is-notice.text-center
        %p The featured show on your profile is out of date.
        %p
          %a.btn.btn-large.btn-secondary-add{ href: "#" } Update Profile Feature
        %p
          %em You can always update this under
          %a{ href: '#' }< 'Shows & Fairs'
          .

%article.sg-component
  %h4 Panel with Button Actions
  .sg-component-rendered
    .panel.actionable
      .panel-content
        %h4 Panel Header
        %p
          Paragraph text - Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      .panel-actions
        %a.btn.btn-small.btn-primary.btn-full-width{ href: "#" } Save the world
  %pre
    :preserve
      .panel.actionable
        .panel-content
          %h4 Panel Header
          %p
            Paragraph text - Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        .panel-actions
          %a.btn.btn-small.btn-primary.btn-full-width{ href: "#" } Save the world

%article.sg-component
  %h4 Panel with Link Actions
  .sg-component-rendered
    .panel.actionable.link-actions.is-notice
      .panel-content
        %em
          Paragraph text - Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      .panel-actions
        %a{ href: "#" } Save another world
  %pre
    :preserve
      .panel.actionable.link-actions.is-notice
        .panel-content
          %em
            Paragraph text - Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        .panel-actions
          %a{ href: "#" } Save another world
