%svg{ width: '24px', height: '24px', viewBox: '0 0 24 24', version: '1.1', xmlns: 'http://www.w3.org/2000/svg', 'xmlns:xlink' => 'http://www.w3.org/1999/xlink', 'xmlns:sketch' => 'http://www.bohemiancoding.com/sketch/ns' }
  %title Circle Pin
  %g{ id: 'Page-1', stroke: 'none', 'stroke-width' => '1', fill: 'none', 'fill-rule' => 'evenodd', 'sketch:type' => 'MSPage' }
    %circle{ id: 'oval-pin', fill: '#6A0BC1', 'sketch:type' => 'MSShapeGroup', cx: '12', cy: '12', r: '12'}
    %path{ d: 'M12.2851134,4.25114415 L14.8565419,4.25114415 L14.8565419,17.01585 L14.8565419,18.2511441 L8.85654194,18.2511441 L8.85654194,15.7805559 L12.2851134,15.7805559 L12.2851134,4.25114415 Z', id: 'Rectangle-4', fill: '#FFFFFF', 'sketch:type' => 'MSShapeGroup', transform: 'translate(11.856542, 11.251144) rotate(41.000000) translate(-11.856542, -11.251144)' }
