%svg{ width: '24px', height: '24px', viewBox: '0 0 24 24', version: '1.1', xmlns: 'http://www.w3.org/2000/svg', 'xmlns:xlink' => 'http://www.w3.org/1999/xlink', 'xmlns:sketch' => 'http://www.bohemiancoding.com/sketch/ns' }
  %title Circle Delete
  %g{ id: 'Page-1', stroke: 'none', 'stroke-width' => '1', fill: 'none', 'fill-rule' => 'evenodd', 'sketch:type' => 'MSPage' }
    %circle{ id: 'oval-delete', fill: '#6A0BC1', 'sketch:type' => 'MSShapeGroup', cx: '12', cy: '12', r: '12'}
    %path{ d: 'M16.5979687,6.09112486 L12.008969,10.5889997 L7.51037661,6 L6.09112486,7.40203131 L10.5889997,11.991031 L6,16.4896234 L7.40203131,17.9095927 L11.991031,13.4110003 L16.4889059,18 L17.9088751,16.5979687 L13.4110003,12.008969 L18,7.51037661 L16.5979687,6.09112486 Z', id: 'delete-bars', fill: '#FFFFFF', 'sketch:type' => 'MSShapeGroup' }
