%svg.download-icon.icon{ height: '24px', space: 'preserve', style: 'enable-background: new 0 0 24 24;', version: '1.1', viewbox: '0 0 24 24', width: '24px', x: '0px', y: '0px' }
  %polygon{ points: '17,15 17,9 14,9 14,15 11,15 15.5,20 20,15', fill: '#000000' }
  %polygon{ points: '23,23 8,23 8,18 10,18 10,21 21,21 21,18 23,18', fill: '#000000' }
