%svg{ width: '32px', height: '32px', viewBox: '0 0 32 32', version: '1.1', xmlns: 'http://www.w3.org/2000/svg', 'xmlns:xlink' => 'http://www.w3.org/1999/xlink' }
  %title Logo Mark
  %g{ id: 'Page-1', stroke: 'none', 'stroke-width' => '1', fill: 'none', 'fill-rule' => 'evenodd', 'sketch:type' => 'MSPage'}
    %g{ id: 'mark', 'sketch:type' => 'MSLayerGroup' }
      %g{ id: "Group", 'sketch:type' => "MSShapeGroup"}
        %path{ d: 'M0,32 L32,32 L32,0 L0,0 L0,32 L0,32 Z M29,29 L24,29 L24,24 L21,24 L21,29 L3,29 L3,3 L29,3 L29,29 L29,29 Z', id: "Shape", 'sketch:type' => "MSShapeGroup" }
        %path{ d: 'M12.108,6 L9.618,6 L5.01,17.6 L7.393,17.6 L8.639,14.4 L13.107,14.4 L14.333,17.6 L16.719,17.6 L12.108,6 L12.108,6 Z M9.332,12.4 L10.864,8.271 L12.376,12.4 L9.332,12.4 L9.332,12.4 Z', id: "Shape", 'sketch:type' => "MSShapeGroup" }
