%svg{ width: '20px', height: '22px', viewBox: '0 0 20 22', version: '1.1', xmlns: 'http://www.w3.org/2000/svg', 'xmlns:xlink' => 'http://www.w3.org/1999/xlink' }
  %title Search Icon

  %g{ id: 'search-icon', stroke: 'none', 'stroke-width' => '1', fill: 'none', 'fill-rule' => 'evenodd', 'sketch:type' => 'MSPage'}
    %g{ id: 'search-icon-group', 'sketch:type' => 'MSLayerGroup', fill: '#000000'}
      %path{ id: 'search-icon-path-1', d: 'M16.299,14.535 C15.784,15.171 15.19,15.736 14.537,16.229 L18.223,19.975 L19.965,18.261 L16.299,14.535 L16.299,14.535 Z'}
      %path{ id: 'search-icon-path-2', d: 'M8.204,16.334 C3.699,16.334 0.034,12.669 0.034,8.164 C0.034,3.659 3.699,-0.006 8.204,-0.006 C12.709,-0.006 16.374,3.659 16.374,8.164 C16.374,12.669 12.71,16.334 8.204,16.334 L8.204,16.334 Z M8.204,2.138 C4.881,2.138 2.178,4.841 2.178,8.164 C2.178,11.487 4.881,14.19 8.204,14.19 C11.527,14.19 14.23,11.487 14.23,8.164 C14.231,4.841 11.527,2.138 8.204,2.138 L8.204,2.138 Z'}
