@import "watt/base";

.page-title h2 a {
  background-image:url('/images/watt/backarrow-34x23.png') !important;
}

.color-sample {
  @include transition(color 0.25s);
  color: $gray-dark;
  &:hover {
    color: $black;
  }
}
