@import "watt/base";

header.navbar .navbar-header a.navbar-brand {
  background-image:url('/images/watt/artsy_mark_transparent_black-70x70.png') !important;
}

header.navbar.navbar-inverse .navbar-header a.navbar-brand {
  background-image:url('/images/watt/artsy_mark_transparent_white-70x70.png') !important;
}

.page-title h2 a {
  background-image:url('/images/watt/backarrow-34x23.png') !important;
}

.index-action a {
  background-image:url('/images/watt/arrow-18x33.png') !important;
}
