---
title: Partner Engineering Style Guide
---
#content-wrap
  .container
    .row
      .col-md-12
        .section-breadcrumb.clearfix
          .section-breadcrumb-link
            %a{ href: "#" } Home
          .section-breadcrumb-separator.icon-chevron-right-large
          .section-breadcrumb-link
            %a{ href: "#" } Section
          .section-breadcrumb-separator.icon-chevron-right-large
          .section-breadcrumb-title Active Section

        .page-title
          %h2 Breadcrumbs
        %pre
          :preserve
            .row
              .col-md-12
                .section-breadcrumb.clearfix
                  .section-breadcrumb-link
                    %a{ href: "#" } Home
                  .section-breadcrumb-separator.icon-chevron-right-large
                  .section-breadcrumb-link
                    %a{ href: "#" } Section
                  .section-breadcrumb-separator.icon-chevron-right-large
                  .section-breadcrumb-title Active Section
