---
title: Partner Engineering Style Guide
---
#content-wrap
  .container
    .row
      .col-md-12
        .page-title.bordered
          %h2 Elements
  .container
    .row
      .col-md-12
        .unit.padded-row
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .list-group
          %a.list-group-item{ href: "/elements/typography" }
            %span.list-group-item-content
              %span.list-group-item-label typography
            %span.icon-chevron-right
          %a.list-group-item{ href: "/elements/colors" }
            %span.list-group-item-content
              %span.list-group-item-label colors
            %span.icon-chevron-right
          %a.list-group-item{ href: "/elements/buttons" }
            %span.list-group-item-content
              %span.list-group-item-label buttons
            %span.icon-chevron-right
          %a.list-group-item{ href: "/elements/forms" }
            %span.list-group-item-content
              %span.list-group-item-label forms
            %span.icon-chevron-right
          %a.list-group-item{ href: "/elements/panels" }
            %span.list-group-item-content
              %span.list-group-item-label panels
            %span.icon-chevron-right
          %a.list-group-item{ href: "/elements/lists" }
            %span.list-group-item-content
              %span.list-group-item-label lists
            %span.icon-chevron-right
          %a.list-group-item{ href: "/elements/section_headers" }
            %span.list-group-item-content
              %span.list-group-item-label section headers
            %span.icon-chevron-right
