---
title: Partner Engineering Style Guide
---
#content-wrap
  .container
    .row
      .col-md-10
        .page-title.bordered
          %h2 Lists

        %h4 Default List Group
        .list-group
          .list-group-item Andy Warhol
          .list-group-item Andy Warhol
          .list-group-item Andy Warhol

        %h4 List Group Notice
        %p Classed with <code>.is-notice</code>.
        .list-group.is-notice
          .list-group-item Andy Warhol
          .list-group-item Andy Warhol
          .list-group-item Andy Warhol

        %h4 Lists of links
        %p
          These will usually get an icon treatment and some <code>:hover</code> hijinks.
        .list-group
          %a.list-group-item.icon-chevron-right{ href: '#' }
            %span.list-group-item-label Andy Warhol
          %a.list-group-item.icon-chevron-right{ href: '#' }
            %span.list-group-item-label Andy Warhol
            %span.list-group-item-info
              Some extra information in an element classed <code>.list-group-item-info</code>
              and sibling to <code>.list-group-item.label</code>.
          %a.list-group-item.icon-chevron-right{ href: '#' }
            %span.list-group-item-label Andy Warhol
          %a.list-group-item.icon-chevron-right{ href: '#' }
            %span.list-group-item-label Andy Warhol
