---
title: Partner Engineering Style Guide
---
#content-wrap
  .container
    .row
      .col-md-10
        .page-title.bordered
          %h2 Lists

        %p In order to get vertically aligned icons, we need some extra mark up ¯\_(ツ)_/¯
        %pre
          :preserve
            .list-controls
              .list-controls-row
                .list-control-filter
                  %select.form-control
              .list-controls-row
                .list-control-counts Viewing 1 - 5 of 37 Artists
                .list-control-sorting Sorted by: Most Recent / A-Z
            .list-group
              %a.list-group-item{ href: '#' }
                %span.list-group-item-content
                  %span.list-group-item-label Andy Warhol
                  %span.list-group-item-info 1928 &ndash; 1987
                %span.icon-chevron-right
        %br

        %h4 Default List Group
        .list-group
          .list-group-item Andy Warhol
          .list-group-item Andy Warhol
          .list-group-item Andy Warhol

        %h4 List Group Notice
        %p Classed with <code>.is-notice</code>.
        .list-group.is-notice
          .list-group-item Andy Warhol
          .list-group-item Andy Warhol
          .list-group-item Andy Warhol

        %h4 Lists of links
        %p
          These will usually get an icon treatment and some <code>:hover</code> hijinks.
        .list-group
          %a.list-group-item{ href: '#' }
            %span.list-group-item-content
              %span.list-group-item-label Andy Warhol
            %span.icon-chevron-right
          %a.list-group-item{ href: '#' }
            %span.list-group-item-content
              %span.list-group-item-label Andy Warhol
              %span.list-group-item-info
                Some extra information in an element classed <code>.list-group-item-info</code>
                and child to <code>.list-group-item-content</code>.
            %span.icon-chevron-right
          %a.list-group-item{ href: '#' }
            %span.list-group-item-content
              %span.list-group-item-label Andy Warhol
            %span.icon-chevron-right
          %a.list-group-item{ href: '#' }
            %span.list-group-item-content
              %span.list-group-item-label Andy Warhol
            %span.icon-chevron-right

        %h4 Lists of links with artworks
        %p
          These will get an artwork image in each item with 1/3 width of the row. The width of the image will be set to fill the container, and the width/height will remain the same ratio.
        .list-group
          %a.list-group-item{ href: '#' }
            %span.list-group-item-image
              %img{ src: "/images/hurricaneLXXXIV.png" }
            %span.list-group-item-content
              %span.list-group-item-label Andy Warhol
            %span.icon-chevron-right
          %a.list-group-item{ href: '#' }
            %span.list-group-item-image
              %img{ src: "/images/cliff.png" }
            %span.list-group-item-content
              %span.list-group-item-label Andy Warhol
              %span.list-group-item-info
                Some extra information in an element classed <code>.list-group-item-info</code>
                and child to <code>.list-group-item-content</code>.
            %span.icon-chevron-right
          %a.list-group-item{ href: '#' }
            %span.list-group-item-image
              %img{ src: "/images/trees_in_snow.png" }
            %span.list-group-item-content
              %span.list-group-item-label Andy Warhol
            %span.icon-chevron-right

        %h4 Lists of links with controls
        %p
          Lists controls are usually on top of a list. They can be organized
          into <code>.list-controls-row</code>s, and each control can adjust
          the size, preferably by <code>make-md-column(n)</code> mixins, and
          add additional styles.
        .list-controls
          .list-controls-row
            .list-control-filter
              %select.form-control
                %option Filter by visibility
                %option{ value: '1' } Visible
                %option{ value: '0' } Invisible
            .list-control-filter
              %select.form-control
                %option Filter by availability
                %option{ value: '1' } Available
                %option{ value: '0' } Unavailable
          .list-controls-row
            .list-control-counts
              Viewing 1 - 5 of 37 Artists
            .list-control-sorting
              Sorted by: <a href="#" class="active">Most Recent</a> / <a href="#">A-Z</a>
        .list-group
          %a.list-group-item{ href: '#' }
            %span.list-group-item-content
              %span.list-group-item-label Andy Warhol
            %span.icon-chevron-right
          %a.list-group-item{ href: '#' }
            %span.list-group-item-content
              %span.list-group-item-label Andy Warhol
            %span.icon-chevron-right
          %a.list-group-item{ href: '#' }
            %span.list-group-item-content
              %span.list-group-item-label Andy Warhol
            %span.icon-chevron-right
          %a.list-group-item{ href: '#' }
            %span.list-group-item-content
              %span.list-group-item-label Andy Warhol
            %span.icon-chevron-right
          %a.list-group-item{ href: '#' }
            %span.list-group-item-content
              %span.list-group-item-label Andy Warhol
            %span.icon-chevron-right
