---
title: Partner Engineering Style Guide
---
#content-wrap
  .container
    .row
      .container
        .page-title.is-bordered
          %h2 Panels

        %p A panel puts some content in a box.
        .panel
          %h5 Heading
          %p
            Paragraph text - Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

        %p
          This panel serves as a notice. It's classed with <code>.is-notice</code>.
        .panel.is-notice
          %h3 Complete these 5 Steps to upload a complete show.
          %ol
            %li Upload the press release and other documents
            %li Add a description for this show
            %li Add artworks to this show
            %li Add install shots (these can be added later)
            %li Select a cover for this show

        %p
          This panel is a notice and centered with <code>.text-center</code>.
        .panel.is-notice.text-center
          %p The featured show on your profile is out of date.
          %p
            %a.btn.btn-highlight-gradient.btn-large{ href: "#" } Update Profile Feature
          %p <em>You can always update this under <a href="#">'Shows & Fairs'</a></em>.
