---
title: Partner Engineering Style Guide
---
#content-wrap
  .container
    .row
      .container
        .page-title
          %h2 Section Headers
        %p The section headers component provides: vertical padding (45px), a bottom border and positioning for buttons. Default styling in _section_header.css.scss for extra-small viewports; _section_header_small.css.scss targets small viewports and up (tablets +).

        .row.section-header
          %h3 Heading text
        %p
          Paragraph text - Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

        .row.section-header
          %h3 Heading text
          .section-actions
            %a.btn.btn-primary{ href: "#" } Do something
            %a.btn.btn-primary{ href: "#" } Do something else
        %p
          Paragraph text - Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
