.nav
  .dropdown-toggle
    %a{ href: '/elements' } Elements
    %ul.dropdown-menu
      %li
        %a{ href: '/elements/buttons' } Buttons
      %li
        %a{ href: '/elements/colors' } Colors
      %li
        %a{ href: '/elements/flash_messages' } Flash messages
      %li
        %a{ href: '/elements/forms' } Forms
      %li
        %a{ href: '/elements/lists' } Lists
      %li
        %a{ href: '/elements/navigation' } Navigation
      %li
        %a{ href: '/elements/overviews' } Overviews
      %li
        %a{ href: '/elements/panels' } Panels
      %li
        %a{href: '/elements/progress_bar'} Progress bar
      %li
        %a{ href: '/elements/section_headers' } Section Headers
      %li
        %a{ href: '/elements/typography' } Typography
      %li
        %a{ href: '/elements/utilities' } Utilities

  .dropdown-toggle
    %a{ href: '/interface' } Interface
    %ul.dropdown-menu{ data: { anchor: 'right' } }
      %li
        %a{ href: '/interface/items' } Items
      %li
        %a{ href: '/interface/item' } Item
      %li
        %a{ href: '/interface/form' } Form
