.nav
  .dropdown-toggle
    Elements |
    %ul.dropdown-menu
      %li
        %a{ href: '/elements' } Index
      %li
        %a{ href: '/elements/breadcrumbs' } Breadcrumbs
      %li
        %a{ href: '/elements/buttons' } Buttons
      %li
        %a{ href: '/elements/colors' } Colors
      %li
        %a{ href: '/elements/flash_messages' } Flash messages
      %li
        %a{ href: '/elements/forms' } Forms
      %li
        %a{ href: '/elements/lists' } Lists
      %li
        %a{ href: '/elements/panels' } Panels
      %li
        %a{href: '/elements/progress_bar'} Progress bar
      %li
        %a{ href: '/elements/section_headers' } Section Headers
      %li
        %a{ href: '/elements/typography' } Typography

  .dropdown-toggle
    Interface |
    %ul.dropdown-menu{ data: { anchor: 'right' } }
      %li
        %a{ href: '/interface' } Index
      %li
        %a{ href: '/interface/items' } Items
      %li
        %a{ href: '/interface/item' } Item
      %li
        %a{ href: '/interface/form' } Form
