---
title: Partner Engineering Style Guide
---
#content-wrap
  .container
    .page-title
      %h2
        Partner Engineering Style Guide
  .container
    %p Things are basically broken up into two parts.
    %ul
      %li
        %a{ href: "/interface", class: '' }
          %strong
            Interface
          \- The UI in practice examples
        %ul
          %li
            %a{ href: "/interface/items", class: '' }
              %strong
                Index
              \- A basic listing of records
          %li
            %a{ href: "/interface/item", class: '' }
              %strong
                Item
              \- An individual record
          %li
            %a{ href: "/interface/form", class: '' }
              %strong
                Form
              \- A typical form
      %li
        %a{ href: "/elements", class: '' }
          %strong
            Elements
          \- The things broken down into components
        %ul
          %li
            %a{ href: "/elements/typography", class: '' }
              %strong
                Typography
          %li
            %a{ href: "/elements/colors", class: '' }
              %strong
                Colors
          %li
            %a{ href: "/elements/buttons", class: '' }
              %strong
                Buttons
          %li
            %a{ href: "/elements/forms", class: '' }
              %strong
                Forms
          %li
            %a{ href: "/elements/flash_messages", class: '' }
              %strong
                Flash messages
          %li
            %a{ href: "/elements/panels", class: '' }
              %strong
                Panels
          %li
            %a{ href: "/elements/lists", class: '' }
              %strong
                Lists
          %li
            %a{ href: "/elements/section_headers", class: '' }
              %strong
                Section Headers
          %li
            %a{ href: "/elements/breadcrumbs", class: '' }
              %strong
                Breadcrumbs
          %li
            %a{ href: "/elements/utilities", class: '' }
              %strong
                Utilities
  .container
    .unit.bordered.single-padding
      Built on #{Time.now.to_formatted_s(:long)}
      \/
      = current_version.titlecase
