---
title: Partner Engineering Style Guide
---
#content-wrap
  .container
    .page-title
      %h2 Partner Engineering Style Guide

  .container
    %p Things are basically broken up into two parts.
    %ul
      %li
        %a{ href: "/interface", class: '' }
          %strong
            Interface
          \- The UI in practice examples
        %ul
          %li
            %a{ href: "/interface/items", class: '' }
              %strong
                Index
              \- A basic listing of records
          %li
            %a{ href: "/interface/item", class: '' }
              %strong
                Item
              \- An individual record
          %li
            %a{ href: "/interface/form", class: '' }
              %strong
                Form
              \- A typical form
          %li
            %a{ href: "/interface/title_link", class: '' }
              %strong
                Title link
              \- An example of the pseudo-breadcrumb title link
      %li
        %a{ href: "/elements", class: '' }
          %strong
            Elements
          \- The things broken down into components
        %ul
          %li
            %a{ href: "/elements/typography", class: '' }
              %strong
                Typography
          %li
            %a{ href: "/elements/colors", class: '' }
              %strong
                Colors
          %li
            %a{ href: "/elements/buttons", class: '' }
              %strong
                Buttons
          %li
            %a{ href: "/elements/forms", class: '' }
              %strong
                Forms
          %li
            %a{ href: "/elements/panels", class: '' }
              %strong
                Panels
          %li
            %a{ href: "/elements/lists", class: '' }
              %strong
                Lists
